 body{
  text-align: center;
   margin: 50px 0px ;
   padding: 0px;
   background-color: blue;
   background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
 }

 table, th, td{
    margin-left: 35%;
    border: 4px slateblue;
    border-collapse: collapse;
    padding: 36px;
    table-layout: auto;
    background-color: aliceblue;
    font-size: 100%;
    color: black;
 }

 caption{
font-size: 150%;
font-weight: bold;
color: blanchedalmond;

 }
 
 ul{
list-style-type: disc;

 }
 p{
font-family: Arial, Helvetica, sans-serif;
font-size: 300%;
color: beige;

 }
 h2{
font-size: 200%;
color: blanchedalmond;
 }
 label{

    color: azure;

 }
 form{
    background-color: blueviolet;
    display: inline-block;
 }
